
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" href="#">Click</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">View All</a>
    </li>
  </ul>
</nav>

<div class="container-fluid" style="margin-top:80px">
  <div id="demo" class="carousel slide" data-ride="carousel">
    
      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>
      
      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../assets/images/carousel images/1.jpg" class="img-fluid" alt="Los Angeles">
        </div>
        <div class="carousel-item">
          <img src="../assets/images/carousel images/2.jpg" class="img-fluid" alt="Chicago" >
        </div>
        <div class="carousel-item">
          <img src="../assets/images/carousel images/3.jpg" class="img-fluid" alt="New York" >
        </div>
      </div>
      
      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>

    <!-- four grid images based on brand name -->
    <div class="row">
      <div class="col-lg">
        <img src="../assets/images/grid image/grid1.jpg" class="img-thumbnail grid-images" alt="fujifilm" >
      </div>
      <div class="col-lg">
        <img src="../assets/images/grid image/grid2.jpg" class="img-thumbnail grid-images"  alt="Nikon" >
      </div>
      <div class="col-lg">
        <img src="../assets/images/grid image/grid3.jpg" class="img-thumbnail grid-images" alt="Sony" >
      </div>
      <div class="col-lg">
        <img src="../assets/images/grid image/grid4.jpg" class="img-thumbnail grid-images" alt="Canon" >
      </div>
    </div>
</div>

<Footer class="footersection">
  <div class="copyrightsymbol">
    ©Copy rights Reserved
  </div>
</Footer>